.container{
    text-align: center;
    margin-top:23px;
}

table{
    margin: auto;
}

input{
    background-color:#b6e1fc;
    border-radius: 21px;
    border: 0px solid #ffffff;
    font-size:28px;
    height: 100px;
    width: 360px;
    font-family: 'Times New Roman', Times, serif;
}

button{
    border-color:#b6e1fc;
    border-radius: 14px;
    border: #b6e1fc;
    font-size: 30px;
    background: #92adf8;
    width: 78px;
    height: 78px;
    margin: 6px;
    font-family: 'Times New Roman', Times, serif;
}

.calculator{ 
    border: 2px solid #429ad1;
    background-color: #ffffff;
    padding: 23px;
    border-radius: 25px;
    display: inline-block;
    
}

h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}